<mat-list role="list">
  <div mat-subheader>Technologies</div>
  <mat-divider></mat-divider>
  <mat-list-item role="listitem"><a mat-button color="primary" href="https://v14.angular.io/docs">Angular 14</a>
  </mat-list-item>
  <mat-list-item role="listitem"><a mat-button color="primary" href="https://d3js.org/">D3</a></mat-list-item>
</mat-list>
<span>&nbsp;</span>
<mat-list>
  <div mat-subheader>APIs</div>
  <mat-divider></mat-divider>
  <mat-list-item role="listitem"><a mat-button color="primary"
                                    href="https://nominatim.org/release-docs/latest/api/Search/">Nominatim</a>
  </mat-list-item>
  <mat-list-item role="listitem"><a mat-button color="primary" href="https://open-meteo.com/en/docs">Open-Mateo</a>
  </mat-list-item>
</mat-list>
<mat-list>
  <div mat-subheader>Developer</div>
  <mat-divider></mat-divider>
  <mat-list-item role="listitem"><a mat-button color="primary"
                                    href="https://github.com/sanbal">Sanjeev Balakrishnan</a>
  </mat-list-item>
</mat-list>
