.visualizations
  margin-top: 5%

  display: flex
  flex-direction: column
  align-items: center
  gap: 1em

.second-row
  display: flex
  flex-direction: row
  gap: 3em

.visualization
  border: 2px dashed darkslategrey
  width: 200px
  height: 200px
  border-radius: 100px
  position: relative

img
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  margin: auto

.thermometer
  height: 180px

.wind-speed
  height: 125px
